<div class="cat">
  <% @cats.each do |cat| %>
    <h1><%= cat.name %></h1>
    <h2>Color: <%= cat.color %></h2>
    <h2>Sex: <%= cat.sex %></h2>
    <h2>Age: <%= cat.age %></h2>

    <p>Description: <%= cat.description %></p>
    <br/>
    <img src="http://breadedcat.com/wp-content/uploads/2012/02/cat-breading-tutorial-004.jpg" alt="All the cats" />
  <% end %>
</div>
